In [2]:
!ls

drive  sample_data

# SNU PLANETA Competition
- Task 2 극지

In [15]:
import tensorflow as tf
import numpy as np
import pandas as pd
import random
import torch
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import os

In [6]:
data_path = '/content/drive/MyDrive/data/planeta'
train = pd.read_csv(os.path.join(data_path, 'train_data.csv'))
train.head(10)

   TIO2(WT%)  AL2O3(WT%)  FEOT(WT%)  ...    TH(PPM)     U(PPM)  Thickness
0   0.560000   16.000000   6.703510  ...   2.650000        NaN          0
1   1.130000   17.210000   8.886916  ...        NaN        NaN          1
2   0.530000   16.150000   2.996334  ...   7.000000   2.350000          0
3   1.150000   15.100000   7.891246  ...   7.600000   1.200000          0
4   0.420000   15.950000   3.761164  ...   5.100000        NaN          0
5   0.370000   15.600000   2.166834  ...  22.200000  14.600000          0
6   0.650000   16.500000   5.128860  ...   3.000000        NaN          0
7   0.560000   16.800000   5.173850  ...   2.500000        NaN          0
8   1.618579   13.456672   6.442568  ...   6.963459   2.021621          0
9   0.750000   17.650000   6.226616  ...   5.650000        NaN          0

[10 rows x 43 columns]

In [7]:
train.describe()

         TIO2(WT%)   AL2O3(WT%)  ...       U(PPM)    Thickness
count  7617.000000  7627.000000  ...  2845.000000  7627.000000
mean      0.840084    16.005030  ...     3.275031     0.387964
std       0.416412     1.635341  ...     4.845684     0.487318
min       0.000000     4.390000  ...     0.000000     0.000000
25%       0.590000    15.280000  ...     0.540000     0.000000
50%       0.780000    16.180000  ...     1.689000     0.000000
75%       1.010000    16.910000  ...     4.146819     1.000000
max       5.850000    25.530000  ...    66.000000     1.000000

[8 rows x 43 columns]

In [ ]:
train.isnull().sum()

In [9]:
test = pd.read_csv(os.path.join(data_path,'test_input.csv'))
test.head(10)

   TIO2(WT%)  AL2O3(WT%)  FEOT(WT%)  ...    PB(PPM)    TH(PPM)    U(PPM)
0   1.000000   15.340000   8.740000  ...   0.843640   0.305881  0.115163
1   1.105920   14.375060  11.438840  ...   0.377547   0.074079  0.024858
2   0.570000   17.100000   9.699922  ...   5.950845   2.200000  0.806990
3   1.310000   15.990000   8.043628  ...   2.520000   0.450000  0.190000
4   1.400000   17.980000   9.780000  ...   6.000000   3.400000  0.700000
5   0.610000   16.300000   6.130000  ...   4.480000   1.050000  0.480000
6   1.700000   14.400000  12.210000  ...   1.220000   0.356000  0.378000
7   0.709644   16.911526   5.288174  ...   0.081000   4.513333  2.226667
8   0.500000   15.050000   2.508738  ...  14.000000  10.400000  1.810000
9   0.180000   10.470000   7.765592  ...   4.164290   0.905360  1.456507

[10 rows x 42 columns]

In [19]:
test.isnull().sum()

TIO2(WT%)     0
AL2O3(WT%)    0
FEOT(WT%)     0
CAO(WT%)      0
MGO(WT%)      0
MNO(WT%)      0
K2O(WT%)      0
NA2O(WT%)     0
P2O5(WT%)     0
SC(PPM)       0
V(PPM)        0
CR(PPM)       0
CO(PPM)       0
NI(PPM)       0
CU(PPM)       0
ZN(PPM)       0
RB(PPM)       0
SR(PPM)       0
Y(PPM)        0
ZR(PPM)       0
NB(PPM)       0
CS(PPM)       0
BA(PPM)       0
LA(PPM)       0
CE(PPM)       0
PR(PPM)       0
ND(PPM)       0
SM(PPM)       0
EU(PPM)       0
GD(PPM)       0
TB(PPM)       0
DY(PPM)       0
HO(PPM)       0
ER(PPM)       0
TM(PPM)       0
YB(PPM)       0
LU(PPM)       0
HF(PPM)       0
TA(PPM)       0
PB(PPM)       0
TH(PPM)       0
U(PPM)        0
dtype: int64

In [22]:
# 훈련 데이터셋의 nan 값을 0 으로 처리
train = train.fillna(0)

In [25]:
y = train['Thickness']
X = train.drop(['Thickness'], axis=1)

In [13]:
tf.random.set_seed(1234)

In [26]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

print(X_train.shape)
print(X_val.shape)
print(y_train.shape)
print(y_val.shape)

(6101, 42)
(1526, 42)
(6101,)
(1526,)

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

In [28]:
# Decision Tree 모델로 학습
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
y_pred=decision_tree.predict(X_val)

print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.98      0.98       922
           1       0.97      0.97      0.97       604

    accuracy                           0.98      1526
   macro avg       0.97      0.97      0.97      1526
weighted avg       0.98      0.98      0.98      1526

In [29]:
# Random Forest 모델로 학습
random_forest = RandomForestClassifier(random_state=32)
random_forest.fit(X_train, y_train)
y_pred=random_forest.predict(X_val)

print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       922
           1       0.99      0.99      0.99       604

    accuracy                           0.99      1526
   macro avg       0.99      0.99      0.99      1526
weighted avg       0.99      0.99      0.99      1526

In [30]:
# SVM 모델로 학습
svm_model = svm.SVC()
svm_model.fit(X_train, y_train)
y_pred=svm_model.predict(X_val)

print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.97      0.86      0.91       922
           1       0.81      0.96      0.88       604

    accuracy                           0.90      1526
   macro avg       0.89      0.91      0.90      1526
weighted avg       0.91      0.90      0.90      1526

* 제출파일

In [31]:
# 성능이 좋은 random forest 모델로 제출
y_pred = random_forest.predict(test)
test['Thickness'] = y_pred
submission = test['Thickness']
submission.to_csv(os.path.join(data_path, "submission.csv"), index=False)
display(submission)

0       1
1       1
2       0
3       1
4       0
       ..
2274    0
2275    0
2276    0
2277    0
2278    0
Name: Thickness, Length: 2279, dtype: int64

![Screen Shot 2021-08-25 at 11.11.46 PM.png]()