In [18]:
import tensorflow as tf
import numpy as np
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt
import os

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
from sklearn.linear_model import SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

tf.random.set_seed(7)

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
data_path = '/content/drive/MyDrive/data/planeta'
train = pd.read_csv(os.path.join(data_path, 'train_data.csv'))
train.head(10)

   TIO2(WT%)  AL2O3(WT%)  FEOT(WT%)  ...    TH(PPM)     U(PPM)  Thickness
0   0.560000   16.000000   6.703510  ...   2.650000        NaN          0
1   1.130000   17.210000   8.886916  ...        NaN        NaN          1
2   0.530000   16.150000   2.996334  ...   7.000000   2.350000          0
3   1.150000   15.100000   7.891246  ...   7.600000   1.200000          0
4   0.420000   15.950000   3.761164  ...   5.100000        NaN          0
5   0.370000   15.600000   2.166834  ...  22.200000  14.600000          0
6   0.650000   16.500000   5.128860  ...   3.000000        NaN          0
7   0.560000   16.800000   5.173850  ...   2.500000        NaN          0
8   1.618579   13.456672   6.442568  ...   6.963459   2.021621          0
9   0.750000   17.650000   6.226616  ...   5.650000        NaN          0

[10 rows x 43 columns]

In [21]:
y = train['Thickness']
train = train.drop(['Thickness'], axis=1)

In [22]:
test = pd.read_csv(os.path.join(data_path,'test_input.csv'))
test.head(10)

   TIO2(WT%)  AL2O3(WT%)  FEOT(WT%)  ...    PB(PPM)    TH(PPM)    U(PPM)
0   1.000000   15.340000   8.740000  ...   0.843640   0.305881  0.115163
1   1.105920   14.375060  11.438840  ...   0.377547   0.074079  0.024858
2   0.570000   17.100000   9.699922  ...   5.950845   2.200000  0.806990
3   1.310000   15.990000   8.043628  ...   2.520000   0.450000  0.190000
4   1.400000   17.980000   9.780000  ...   6.000000   3.400000  0.700000
5   0.610000   16.300000   6.130000  ...   4.480000   1.050000  0.480000
6   1.700000   14.400000  12.210000  ...   1.220000   0.356000  0.378000
7   0.709644   16.911526   5.288174  ...   0.081000   4.513333  2.226667
8   0.500000   15.050000   2.508738  ...  14.000000  10.400000  1.810000
9   0.180000   10.470000   7.765592  ...   4.164290   0.905360  1.456507

[10 rows x 42 columns]

In [23]:
train = train.interpolate()

In [24]:
#train['CO(PPM)'] = np.where(train['CO(PPM)'] == 0, train['SC(PPM)'],  train['CO(PPM)'])
#train['SC(PPM)'] = np.where(train['SC(PPM)'] == 0, train['CO(PPM)'],  train['SC(PPM)'])

In [25]:
'''
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer, SimpleImputer

X = np.array(train)

#   
imp_mean = SimpleImputer(missing_values=0, strategy='mean')
# imp_mean = IterativeImputer(missing_values=0)

train = pd.DataFrame(imp_mean.fit_transform(X), columns=train.columns)
'''

"\nimport numpy as np\nfrom sklearn.experimental import enable_iterative_imputer\nfrom sklearn.impute import IterativeImputer, SimpleImputer\n\nX = np.array(train)\n\n#   \nimp_mean = SimpleImputer(missing_values=0, strategy='mean')\n# imp_mean = IterativeImputer(missing_values=0)\n\ntrain = pd.DataFrame(imp_mean.fit_transform(X), columns=train.columns)\n"

In [26]:
train = train.fillna(0)

In [27]:
for i in train.columns:
  train[i] = np.where(train[i] == 0, train[i].mean(),  train[i])

In [28]:
col_list = train.columns.tolist()
col_train = train[col_list]
col_test = test[col_list]

train['sum'] = col_train.sum(axis=1)
test['sum'] = col_test.sum(axis=1)

In [29]:
train['alcali'] = [1 if mgo > 7 else 0 for mgo in train['MGO(WT%)']]
test['alcali'] = [1 if mgo > 7 else 0 for mgo in test['MGO(WT%)']]

In [30]:
#train = (train - train.mean())/train.std()
#test = (test - test.mean())/test.std()

In [31]:
display(train)

      TIO2(WT%)  AL2O3(WT%)  FEOT(WT%)  ...    U(PPM)          sum  alcali
0         0.560      16.000   6.703510  ...  3.283823  1962.736239       0
1         1.130      17.210   8.886916  ...  3.283823  2503.839645       1
2         0.530      16.150   2.996334  ...  2.350000  2929.250438       0
3         1.150      15.100   7.891246  ...  1.200000  1626.197913       1
4         0.420      15.950   3.761164  ...  7.900000  2066.698743       0
...         ...         ...        ...  ...       ...          ...     ...
7622      0.530      11.750   9.528882  ...  0.600000  2944.078768       1
7623      1.690      16.190   6.800000  ...  0.600000  2045.205881       1
7624      1.510      16.370   8.250000  ...  0.600000  1152.938061       0
7625      0.590      17.920   6.514552  ...  0.600000  1622.267317       0
7626      1.197      16.945   5.941379  ...  0.600000  3481.484954       0

[7627 rows x 44 columns]

In [32]:
display(test)

      TIO2(WT%)  AL2O3(WT%)  FEOT(WT%)  ...    U(PPM)          sum  alcali
0       1.00000    15.34000   8.740000  ...  0.115163  1261.332604       1
1       1.10592    14.37506  11.438840  ...  0.024858  1013.542028       1
2       0.57000    17.10000   9.699922  ...  0.806990  1717.828511       0
3       1.31000    15.99000   8.043628  ...  0.190000  1086.522045       0
4       1.40000    17.98000   9.780000  ...  0.700000  2365.615187       0
...         ...         ...        ...  ...       ...          ...     ...
2274    0.69000    16.95000   5.083870  ...  0.716591  2635.970584       0
2275    1.81000    16.70000   7.576316  ...  8.223000   806.752316       0
2276    0.80000    14.60000   5.700000  ...  1.400000  1322.504378       0
2277    2.65000    14.10000  11.060000  ...  2.131333  2964.792591       0
2278    0.13000    14.60000   0.950000  ...  7.170000  1294.252541       0

[2279 rows x 44 columns]

In [33]:
X = train.copy()

In [34]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

print(X_train.shape)
print(X_val.shape)
print(y_train.shape)
print(y_val.shape)

(6101, 44)
(1526, 44)
(6101,)
(1526,)

In [35]:
# Random Forest  
random_forest = RandomForestClassifier()
random_forest.fit(X_train, y_train)
y_pred=random_forest.predict(X_val)

print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.98      0.99       953
           1       0.97      0.99      0.98       573

    accuracy                           0.98      1526
   macro avg       0.98      0.99      0.98      1526
weighted avg       0.99      0.98      0.98      1526

In [36]:
y_pred = random_forest.predict(test)
test['Thickness'] = y_pred
submission = test['Thickness']
submission.to_csv(os.path.join(data_path, "submission.csv"), index=False)
display(submission)

0       1
1       1
2       0
3       1
4       1
       ..
2274    0
2275    0
2276    1
2277    1
2278    0
Name: Thickness, Length: 2279, dtype: int64